.auth-holder {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.auth-inner {
	position: absolute;
	left: 30%;
	right: 30%;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	top: 20%;
}
.auth-inner .auto-container {
	position: static;
	max-width: 1200px;
	padding: 8px 22px;
	margin: 0 auto;
	background-color: rgba(33, 37, 41, 0.3411764705882353);
	border-radius: 10px;
	border: 1px solid rgba(108, 117, 125, 0.11);
}
/* login button style */
.btn-style-two {
	position: relative;
	padding: 8px 13px;
	font-size: 13px;
	line-height: 20px;
	color: rgb(255, 255, 255);
	font-weight: 400;
	text-align: center;
	background-color: rgb(153, 153, 153);
	overflow: hidden;
	border-radius: 10px;
}
/* login button style on hover */
.btn-style-two:hover {
	position: relative;
	padding: 8px 13px;
	font-size: 13px;
	line-height: 20px;
	color: rgb(0, 0, 0);
	font-weight: 400;
	text-align: center;
	background-color: rgb(242, 4, 135);
	overflow: hidden;
	border-radius: 10px;
}
/* form input style */
.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-append > .btn,
.input-group-sm > .input-group-append > .input-group-text,
.input-group-sm > .input-group-prepend > .btn,
.input-group-sm > .input-group-prepend > .input-group-text {
	padding: 0.25rem 0.5rem !important;
	font-size: 0.875rem !important;
	line-height: 2.2 !important;
	border-radius: 0.2rem !important;
}
